.tooltip {
  cursor: pointer;
}

.empty {
  opacity: 0.7;
}

svg .active {
  // & path {
  //   fill: orange;
  // }
  stroke: #417afc;
  stroke-width: 5px;
}
// .seat {
//   background-color: #407afc;
// }
